@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');

:root {
  --font-family-top: 'Outfit', sans-serif;
  --font-family-ui: 'Plus Jakarta Sans', sans-serif;
}

body {
  font-family: var(--font-family-ui);
}

h1, h2, h3, h4, .brand-name {
  font-family: var(--font-family-top);
}
